{% extends "base.html" %}
{% block menu %}
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="examples">Examples</a></li>
          <li><a href="about">About</a></li>
          <li><a href="category-list">Courses</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
      </div>
{% endblock %}
{% block body %}
    <div id="site_content">
      <div class="sidebar">
        <h1>Latest News</h1>
        <h4>New Website Launched</h4>
        <h5>{{date}}</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h1>Some names</h1>
        <ul>
          <li>{{names[0]}}</li>
          <li>{{names[1]}}</li>
          <li>{{names[2]}}</li>
          <li>{{names[3]}}</li>
          <li>{{names[4]}}</li>
          <li>{{names[5]}}</li>
          <li>{{names[6]}}</li>
          <li>{{names[7]}}</li>
          <li>{{names[8]}}</li>
          <li>{{names[9]}}</li>
        </ul>
        <h1>Search</h1>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" alt="Search" title="Search" /> <!--src="style/search.png"-->
          </p>
        </form>
      </div>
      <div id="content">
        <h1>Welcome to the night_sky_2 template</h1>
        <p>This standards compliant, simple, fixed width website template is released as an 'open source' design (under a <a href="http://creativecommons.org/licenses/by/3.0">Creative Commons Attribution 3.0 Licence</a>), which means that you are free to download and use it for anything you want (including modifying and amending it). All I ask is that you leave the 'design from HTML5webtemplates.co.uk' link in the footer of the template, but other than that...</p>
        <p>This template is written entirely in <strong>HTML5</strong> and <strong>CSS</strong>, and can be validated using the links in the footer.</p>
        <p>You can view more free HTML5 web templates <a href="http://www.html5webtemplates.co.uk">here</a>.</p>
        <p>This template is a fully functional 5 page website, with an <a href="examples.html">examples</a> page that gives examples of all the styles available with this design.</p>
        <h2>Browser Compatibility</h2>
        <p>This template has been tested in the following browsers:</p>
        <ul>
          <li>Internet Explorer 8</li>
          <li>FireFox 3</li>
          <li>Google Chrome 13</li>
        </ul>
      </div>
    </div>
{% endblock %}
